<html>
<head>
    <title>Zoomer Translate</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .content {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="content">
        <img src="/static/zoomer_translate_logo.jpg" alt="Example Image" style="max-width: 350px; max-height: 300pxpx;">
        <h1> Zoomer word : </h1>
        <p>{{ zoomer_word }}</p>

        <h2>What best describes this?</h2>
        <form action="/fronpage/submit/" method="post">
            {% csrf_token %}
            {% for option in options %}
                <input type="radio" id="option{{ forloop.counter }}" name="text_option" value="{{ zoomer_word }}|{{ option }}">
                <label for="option{{ forloop.counter }}">{{ option }}</label><br>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>